body{
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #004e92, #000428);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #004e92, #000428); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height:100%;
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
  opacity: 0.1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.overlay{
  background-color: rgba(0,0,0,0.4);
  width:100%;
  padding:10px;
  height:100% !important;
}
.Greeting {
  animation: zoomInOut 8s infinite alternate;
}

.fix{
  height:100px ;
}

@keyframes zoomInOut {
  0%
  {
    font-size:1.8em;
    letter-spacing:0px;  
  }
  100%
  {
    font-size:2em;
    letter-spacing:20px; 
  }  
}
